/* temporary fix to suppress Chromium error, issue is being tracked via
    the following issue: https://github.com/electron/electron/issues/4420 */

::selection {
  #background: transparent;
}

html {
  background: linear-gradient( rgba(105, 102, 96, 0.45), rgba(105, 102, 96, 0.45)), url("../assets/topography.png");
  font-family: sans-serif;
}

body {
  padding: 10px;
}

body.waiting * {
  cursor: progress;
}

label.inputHider {
  border: 1px solid #ccc;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  padding-top: 10px;
  height: 30px;
  width: 100%;
  cursor: pointer;
}

label.inputHider:hover {
  border-color: #66CC75;
}

button {
  border: solid 1px #ccc;
  position: relative;
  float: left;
  outline: none;
  font-family: inherit;
  font-size: 100%;
  transition: all 0.3s ease 0s;
}

/* container for drop-down menus */

div.dropdown {
  position: relative;
  display: inline-block;
  float: left;
  margin: 0 5px;
}

div.dropdown:hover div.dropdown-content {
  display: block;
  transition: all 0.8s ease-in-out;

}

/* button to trigger the drop-down menu */

button.dropdown-button {
  border-radius: 10em;
  cursor: pointer;
}

button.dropdown-button:hover {
  background-color: #fff;
  border-color: #66CC75;
  box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
}

/* container for menu options; hidden by default */

div.dropdown-content {
  display: none;
  position: absolute;
  color: #ccc;
  background: linear-gradient(#444, #444);
  border-radius: 3px;
  box-shadow: 0px 0px 20px #999;
  margin: 44px 0px 0px 0px;
  min-height: 50px;
  min-width: 120px;
  border: 1px solid #333;
  text-shadow: 0 0 1px #000;
  background-color: #fff;
  z-index: 1;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

}

div.dropdown-content::before {
  content: "";
  width: 0px;
  height: 0px;
  border: 0.8em solid transparent;
  position: absolute;
}

div.dropdown-content.top-left::before {
  left: 7px;
  top: -20px;
  border-bottom: 10px solid #444;
}

div.dropdown-content .first {
  border-radius: 3px 3px 0 0;
}

div.dropdown-content .last {
  border-radius: 0 0 3px 3px;
}

div.dropdown-content button {
  color: #ccc;
  display: block;
  min-width: inherit;
  background: linear-gradient(#444, #444);
  padding: 12px 16px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

div.dropdown-content button:hover {
  border: 1px solid rgb(102, 204, 117);
  color: white;
  background: rgba(55, 55, 55, 1);
}

button.new_card {
  height: 38px;
  width: 38px;
  padding: 9px 10px 9px 10px;
  background: #66CC75 url("../assets/new-card.png") no-repeat center;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  border-color: rgba(6, 150, 14, 0.25);
  background-size: 24px;
  transition: all .5s;
}

button.test {
  height: 38px;
  width: 38px;
  padding: 9px 10px 9px 10px;
  background: #ededed url("../assets/test-icon.png") no-repeat center;
  background-size: 24px;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  transition: all .5s;
  border-radius: 10em;
  cursor: pointer;
  margin: 0 5px;
}

button.back {
  height: 38px;
  width: 38px;
  padding: 9px 10px 9px 10px;
  background: #ededed url("../assets/back-icon.png") no-repeat center;
  background-size: 24px;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  transition: all .5s;
  border-radius: 10em;
  cursor: pointer;
  margin: 0 5px;
}

button.version {
  height: 38px;
  width: 38px;
  padding: 9px 10px 9px 10px;
  background: #ededed url("../assets/version-icon.png") no-repeat center;
  background-size: 24px;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  transition: all .5s;
  border-radius: 10em;
  cursor: pointer;
  margin: 0 5px;
}

button.playground {
  height: 38px;
  width: 38px;
  padding: 9px 10px 9px 10px;
  background: #ededed url("../assets/playground-icon.png") no-repeat center;
  background-size: 24px;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  transition: all .5s;
  border-radius: 10em;
  cursor: pointer;
  margin: 0 5px;
}

button.test:hover,
button.version:hover,
button.playground:hover,
.expander input[type=search]:hover  {
  background-color: #fff;
  border-color: #66CC75;
  box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
}

input {
  outline: none;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-family: inherit;
  font-size: 100%;
  float: left;
  margin: 0 5px;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
  display: none;
}

input[type=search] {
  background: #ededed url("../assets/search-icon.png") no-repeat 9px center;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  border: solid 1px #ccc;
  padding: 9px 10px 9px 32px;
  width: 55px;
  border-radius: 10em;
  transition: all .5s;
  font-family: sans-serif;
}

input[type=search]:focus {
  width: 130px;
  background-color: #fff;
  border-color: #66CC75;
  box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
}

input::-webkit-input-placeholder {
  color: #999;
}

.expander input[type=search] {
  width: 15px;
  padding-left: 10px;
  color: transparent;
  cursor: pointer;
}

.expander input[type=search]:focus {
  width: 130px;
  padding-left: 32px;
  color: #000;
  background-color: #fff;
  cursor: auto;
}

.expander input::-webkit-input-placeholder {
  color: transparent;
}
button.import{
  background: #ededed url("../assets/playground-icon.png") no-repeat center;
}
