/* temporary fix to suppress Chromium error, issue is being tracked via
    the following issue: https://github.com/electron/electron/issues/4420 */
::selection {
    #background: transparent;
}

div.card {
  height: 280px;  /* 7:5 aspect ratio */
  width: 200px;   /* 7:5 aspect ratio */

    margin: auto;
  color: white;
  position: fixed;
}

.notransition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
}

/* flip the card */
.flipMe {
    transform: rotateY(180deg);
}

div.card, .front, .back {
    width: 200px;
    height: 280px;
}

/* flip speed goes here */
.card {
    transition: 0.5s;
    transform-style: preserve-3d;
}

/* hide back of pane during swap */
.front, .back {
    backface-visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
}

/* front pane, placed above back */
.front {
    /* for firefox 31 */
    transform: rotateY(0deg);
    background-color: #666;
}

/* back, initially hidden pane */
.back {
    background-color: lightgray;
    transform: rotateY(180deg);
}

.trans {
    top: 500px;
    left 500px;
}

.fullscreen {
    transition: 0.25s;
    z-index: 9999;
    width: 100%;
    height: 100%;
    position: fixed;
}

.norm {
    transition: 0.25s;
    width: 200px;
    height: 280px;
}






div.card.card-header {
  height: 29px;
  width: 100%;
  line-height: 29px;
  vertical-align: middle;
  font-family: sans-serif;
  background-color: #385f88;
  padding: 0 0 0 3px;
  box-sizing: border-box;
  top: 0;
  position: static;
  cursor: move;
}

button.expandableBtn, button.collapsableBtn {
    display: block;
    float: right;
    border-radius: 20px;
    margin: 2px;
    box-sizing: border-box;
    height: 30px;
    width: 50px;
    background: rgba(30, 52, 142);
    color: #fff;
    text-align: center;
    line-height: 10px;
    vertical-align: middle;
    text-decoration: none;
    transition: all 0.3s ease-out;
}


button.close {
  display: block;
  float: right;
  margin: 2px;
  box-sizing: border-box;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  background: rgba(30, 52, 142, 0.5);
  color: #fff;
  text-align: center;
  line-height: 10px;
  vertical-align: middle;
  text-decoration: none;
  transition: all 0.3s ease-out;
}
button.close:hover,
button.close:focus,
button.close:active {
  background: rgba(255, 0, 0, 0.7);
  color: #fff;
  transition: all 0.5s ease-in;
}
