div.card {
  height: 280px;  /* 7:5 aspect ratio */
  width: 200px;   /* 7:5 aspect ratio */
  background: linear-gradient(rgba(44, 50, 59, 1.0), rgba(33, 37, 43, 1.0));
  color: rgba(171, 178, 191, 1.0);
  margin: auto;
  position: fixed;
  border: 0.5px solid rgba(24, 26, 31, 1.0);
  border-radius: 5px;
  transform-style: preserve-3d;
  /*z-index: 0;*/
  user-select: none;
}

.highlight {
  outline: 1px solid yellow;
}

div.card-header {
  height: 29px;
  width: 100%;
  background-color: rgba(33, 37, 43, 1.0);
  color: rgba(171, 178, 191, 1.0);
  box-sizing: border-box;
  padding: 0 0 0 3px;
  line-height: 29px;
  font-family: sans-serif;
  vertical-align: middle;
  position: static;
  cursor: move;
  border: 0.5px solid rgba(24, 26, 31, 1.0);
  border-radius: 5px 5px 0 0;
  transform-style: preserve-3d;
}

div.card-header button {
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  float: right;
  padding: 0;
  text-align: center;
  line-height: 10px;
  vertical-align: middle;
  box-sizing: border-box;
  border: none;
}

div.card-header button:hover,
div.card-header button:focus {
  outline: none;
}

button.close {
  height: 20px;
  width: 20px;
  margin: 3px;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    url("../assets/close_dark.svg");
  border-radius: 50%;
}

button.close:hover, button.close:active {
  background-image: url("../assets/close_active.svg");
}

button.expand {
  height: 18px;
  width: 18px;
  margin: 4px;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    url("../assets/expand_dark.svg");
  border-radius: 0;
}

button.expand:hover, button.expand:active {
  background-image: url("../assets/expand_active.svg");
}

button.collapse {
  height: 18px;
  width: 18px;
  margin: 4px;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    url("../assets/collapse_dark.svg");
  border-radius: 0;
}

button.collapse:hover, button.collapse:active {
  background-image: url("../assets/collapse_active.svg");
}

button.flip {
    height: 20px;
    width: 20px;
    border: none;
    padding: 0;
    background: url("../assets/flip_dark.svg");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    position: fixed;
    top: 92%;
    left: 89%;
}

/* flip the card */
.flipMe {
  transform: rotateY(180deg);
}

/* hide back of pane during swap */
.front, .back {
  transition: 0.5s;
  width: 200px;
  height: 280px;
  backface-visibility: hidden;
  position: fixed;
}

/* front pane, placed above back */
.front {
  /* for firefox 31 */
  transform: rotateY(0deg);
  background: linear-gradient(
    rgba(44, 50, 59, 1.0),
    rgba(33, 37, 43, 1.0));
}

/* back, initially hidden pane */
.back {
  background: linear-gradient(
    rgba(44, 50, 59, 1.0),
    rgba(33, 37, 43, 1.0));
    transform: rotateY(180deg);
}

.fullscreen {
    transition: 0.5s;
    z-index: 9999;
    width: 100%;
    height: 100%;
    position: fixed;
}

.norm {
    transition: 0.5s;
    width: 200px;
    height: 280px;
}
