div.card {
  height: 280px;
  /* 7:5 aspect ratio */
  width: 200px;
  /* 7:5 aspect ratio */
  top: 30%;
  left: 40%;
  background: linear-gradient(rgb(89, 87, 90), rgb(255, 255, 255));
  color: rgba(171, 178, 191, 1.0);
  margin: auto;
  position: fixed;
  border: 1px solid rgb(89, 87, 90);
  border-radius: 10px;
  transform-style: preserve-3d;
  user-select: none;
}

div.card.highlight {
  box-shadow: 0 0 3pt 2pt rgb(89, 87, 90);
}

span.nameBox {
  width: 100px;
  display: inline-block;
  color: white;
  font-size: 18px;
  left: 10px;
}

div.card.fullscreen {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

div.card-header {
  height: 29px;
  width: 100%;
  /*background-color: rgba(33, 37, 43, 1.0);*/
  background-color: rgb(89, 87, 90);
  color: rgba(171, 178, 191, 1.0);
  box-sizing: border-box;
  padding: 0 0 0 3px;
  line-height: 29px;
  vertical-align: middle;
  position: static;
  cursor: move;
  border-radius: 5px 5px 0 0;
  transform-style: preserve-3d;
}

div.card-header button {
  background-size: contain;
  /*background-repeat: no-repeat;*/
  display: block;
  float: right;
  /*padding: 0;*/
  /*text-align: center;
  line-height: 10px;
  vertical-align: middle;
  box-sizing: border-box;*/
  border: none;
}

div.card-header button:hover,
div.card-header button:focus {
  outline: none;
}

div.card-header button:disabled {
  display: none;
}

div.hard-metadata {
  line-height: 29px;
  vertical-align: middle;
  color: rgba(10, 210, 50, 1.0);
}

div.slick-list.draggable{
  border-radius: 0 0 10px 10px;
  margin-left: 2px;
}

button.close {
  height: 19px;
  width: 19px;
  margin: 3px;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../assets/close_dark.svg");
  border-radius: 50%;
}

button.close:hover,
button.close:active {
  background-image: url("../assets/close_active.svg");
}

button.expand {
  height: 18px;
  width: 18px;
  margin: 4px;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../assets/expand_dark.svg");
}

button.expand:hover,
button.expand:active {
  background-image: url("../assets/expand_active.svg");
}

button.expand.fullscreen {
  background-image: url("../assets/collapse_dark.svg");
}

button.expand.fullscreen:hover,
button.expand.fullscreen:active {
  background-image: url("../assets/collapse_active.svg");
}

button.save{
  height: 18px;
  width: 18px;
  margin: 3px;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../assets/save_file_white.svg");
  /*Icon made by Dave Gandy from www.flaticon.com */
  border-radius: 20%;
}

button.save:hover,
button.expand:active {
  background-image: url("../assets/save_file_red.svg");
  /*Icon made by Dave Gandy from www.flaticon.com*/
}

textarea.editor {
  box-sizing: border-box;
  background-color: white;
  font-family: sans-serif;
  color: black;
  padding: 0;
  height: 245px;
  resize: none;
  cursor: text;
  margin: 0;
  border: 0;
  border-radius: 0 0 5px 5px;
}

textarea.editor:focus{
  outline: none;
}
