/* temporary fix to suppress Chromium error, issue is being tracked via
    the following issue: https://github.com/electron/electron/issues/4420 */
::selection {
    #background: transparent;
}

div.card {
  height: 280px;  /* 7:5 aspect ratio */
  width: 200px;   /* 7:5 aspect ratio */
  background: black; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(rgba(44, 50, 59, 1.0), rgba(33, 37, 43, 1.0)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgba(44, 50, 59, 1.0), rgba(33, 37, 43, 1.0)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgba(44, 50, 59, 1.0), rgba(33, 37, 43, 1.0)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(rgba(44, 50, 59, 1.0), rgba(33, 37, 43, 1.0)); /* Standard syntax */
  /*
    background-color: black;
    background-image: url("../assets/close.svg");
  */
  color: rgba(171, 178, 191, 1.0);
  margin: auto;
  position: fixed;
  border: 0.5px solid rgba(24, 26, 31, 1.0);
  border-radius: 5px;
}

div.card.card-header {
  height: 29px;
  width: 100%;
  box-sizing: border-box;
  padding: 0 0 0 3px;
  background-color: rgba(33, 37, 43, 1.0);
  line-height: 29px;
  font-family: sans-serif;
  vertical-align: middle;
  position: static;
  cursor: move;
  border: 0.5px solid rgba(24, 26, 31, 1.0);
  border-radius: 5px 5px 0 0;
}

div.card.card-header input[type="button"] {
  display: block;
  float: right;
  margin: 2px;
  box-sizing: border-box;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  background: rgba(30, 112, 142, 0.5);
}

.notransition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
}

/* flip the card */
.flipMe {
    transform: rotateY(180deg);
}

div.card, .front, .back {
    transition: 0.5s;

    width: 200px;
    height: 280px;
}

textarea.stackedEditor {
    cursor: move;
}

/* flip speed goes here */
.card {
    transition: 0.5s;
    transform-style: preserve-3d;
}

/* hide back of pane during swap */
.front, .back {
    transition: 0.5s;

    backface-visibility: hidden;
    position: fixed;
}

/* front pane, placed above back */
.front {
    /* for firefox 31 */
    transform: rotateY(0deg);
    background-color: #666;
}

/* back, initially hidden pane */
.back {
    background-color: lightgray;
    transform: rotateY(180deg);
}


.fullscreen {
    transition: 0.5s;
    z-index: 9999;
    width: 100%;
    height: 100%;
    position: fixed;
}

.norm {
    transition: 0.5s;

    width: 200px;
    height: 280px;
}

button.flipBtn {
    height: 25px;
    width: 25px;
    background: url("../assets/flip_white.svg");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    position: fixed;
    top: 270px;
    left: 190px;
}

button.expandableBtn, button.collapsableBtn {
    display: block;
    float: right;
    border-radius: 20px;
    margin: 2px;
    box-sizing: border-box;
    height: 30px;
    width: 50px;
    background: rgba(30, 52, 142, 0.5);
    color: #fff;
    text-align: center;
    line-height: 10px;
    vertical-align: middle;
    text-decoration: none;
    transition: all 0.3s ease-out;
}

button.fullscreenBtn {
  display: block;
  float: right;
  margin: 2px;
  box-sizing: border-box;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  color: #fff;
  text-align: center;
  line-height: 10px;
  vertical-align: middle;
  text-decoration: none;
  transition: all 0.3s ease-out;
}

button.close {
  display: block;
  float: right;
  margin: 2px;
  box-sizing: border-box;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  background-image: url("../assets/close.svg");
  color: #fff;
  text-align: center;
  line-height: 10px;
  vertical-align: middle;
  text-decoration: none;
  transition: all 0.3s ease-out;
}

button.close:hover, button.close:focus, button.close:active {
  background: rgba(255, 0, 0, 0.7);
  color: #fff;
  transition: all 0.5s ease-in;
}
