/* temporary fix to suppress Chromium error, issue is being tracked via
    the following issue: https://github.com/electron/electron/issues/4420 */
::selection {
    #background: transparent;
}

div.card {
  height: 280px;  /* 7:5 aspect ratio */
  width: 200px;   /* 7:5 aspect ratio */
  background-color: #666;
  color: white;
  position: fixed;
}

div.card.card-header {
  height: 29px;
  width: 100%;
  line-height: 29px;
  vertical-align: middle;
  font-family: sans-serif;
  background-color: #385f88;
  padding: 0 0 0 3px;
  box-sizing: border-box;
  top: 0;
  position: static;
  cursor: move;
}

button.expandableBtn, button.collapsableBtn {
    display: block;
    float: right;
    border-radius: 20px;
    margin: 2px;
    box-sizing: border-box;
    height: 30px;
    width: 50px;
    background: rgba(30, 52, 142);
    color: #fff;
    text-align: center;
    line-height: 10px;
    vertical-align: middle;
    text-decoration: none;
    transition: all 0.3s ease-out;
}


button.close {
  display: block;
  float: right;
  margin: 2px;
  box-sizing: border-box;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  background: rgba(30, 52, 142, 0.5);
  color: #fff;
  text-align: center;
  line-height: 10px;
  vertical-align: middle;
  text-decoration: none;
  transition: all 0.3s ease-out;
}
button.close:hover,
button.close:focus,
button.close:active {
  background: rgba(255, 0, 0, 0.7);
  color: #fff;
  transition: all 0.5s ease-in;
}
