div.card {
  height: 280px;  /* 7:5 aspect ratio */
  width: 200px;   /* 7:5 aspect ratio */
  background: linear-gradient(rgba(44, 50, 59, 1.0), rgba(33, 37, 43, 1.0));
  color: rgba(171, 178, 191, 1.0);
  margin: auto;
  position: fixed;
  border: 0.5px solid rgba(24, 26, 31, 1.0);
  border-radius: 5px;
  transform-style: preserve-3d;
  user-select: none;
}

div.card.highlight {
  outline: 1px solid yellow;
}

div.card.fullscreen {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

div.card-header {
  height: 29px;
  width: 100%;
  background-color: rgba(33, 37, 43, 1.0);
  color: rgba(171, 178, 191, 1.0);
  box-sizing: border-box;
  padding: 0 0 0 3px;
  line-height: 29px;
  font-family: sans-serif;
  vertical-align: middle;
  position: static;
  cursor: move;
  border: 0.5px solid rgba(24, 26, 31, 1.0);
  border-radius: 5px 5px 0 0;
  transform-style: preserve-3d;
}

div.card-header button {
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  float: right;
  padding: 0;
  text-align: center;
  line-height: 10px;
  vertical-align: middle;
  box-sizing: border-box;
  border: none;
}

div.card-header button:hover,
div.card-header button:focus {
  outline: none;
}

div.card-header button:disabled {
  display: none;
}

button.close {
  height: 20px;
  width: 20px;
  margin: 3px;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    url("../assets/close_dark.svg");
  border-radius: 50%;
}

button.close:hover, button.close:active {
  background-image: url("../assets/close_active.svg");
}

button.expand {
  height: 18px;
  width: 18px;
  margin: 4px;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    url("../assets/expand_dark.svg");
  border-radius: 0;
}

button.expand:hover, button.expand:active {
  background-image: url("../assets/expand_active.svg");
}

button.expand.fullscreen {
  background-image: url("../assets/collapse_dark.svg");
}
button.expand.fullscreen:hover, button.expand.fullscreen:active {
  background-image: url("../assets/collapse_active.svg");
}
