/* temporary fix to suppress Chromium error, issue is being tracked via
    the following issue: https://github.com/electron/electron/issues/4420 */
::selection {
  background:transparent;
}

body {padding:10px}

#info-box {
  width:200px;
  height:200px;
  background-color:#385f88;
}
.cancelButton{
  height: auto;
  width: auto;
  position: absolute;
  background-color: #eb463b;
  align: center;
  right: 0;
  margin: 0 auto;
  border-radius: 50%;
}
.header{
  height: 20px;
  width: 100%;
  background-color: #696660;
  position: relative;
  border: 2px;
  border-color: #000;
  border-bottom: solid;
}

.textArea {
  width:200px;
  height:280px;
  background-color:#e6e2da;
  color:white;
  border: 2px;
  border-style: solid;
  border-color: #000;
  cursor:move;
  position:relative; /* important (all position that's not `static`) */
}
