/* temporary fix to suppress Chromium error, issue is being tracked via
    the following issue: https://github.com/electron/electron/issues/4420
::selection {
  #background: transparent;
}
*/

body {
  padding:10px;
  background: linear-gradient(
    rgba(105, 102, 96, 0.45),
    rgba(105, 102, 96, 0.45)),
    url("../assets/topography.png");
  position: relative;
}

.notransition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
}
