textarea.editor {
  height: calc(100% - (29px + 2px));
  width: 100%;
  background-color: rgba(40, 44, 52, 1.0);
  color: rgba(171, 178, 191, 1.0);
  padding: 0;
  resize: none;
  cursor: text;
  border: 0px;
  border-radius: 0 0 5px 5px;
}

textarea.stackedEditor {
    cursor: move;
}

.colorBtn, .eraser {
    display: none;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: 0px;
    top: 5px;
    position: relative;
    cursor: pointer;
}

div.editor:hover .eraser {
    height: 10px;
    width: 10px;
    display: inline-block;
    border-radius: 50%;
    border: 0px;
    top: 5px;
    position: relative;
    cursor: pointer;
    float: left;
}

div.editor:hover .colorBtn {
    height: 10px;
    width: 10px;
    display: inline-block;
    border-radius: 50%;
    border: 0px;
    top: 5px;
    position: relative;
    cursor: pointer;
    float: right;
}

div.sketchEditor {
    height: 250px;
    width: 200px;
    border-radius: 0 0 5px 5px;
}
div.editor {
  height: calc(100% - (29px + 2px));
  width: 100%;
  background-color: rgba(40, 44, 52, 1.0);
  color: rgba(171, 178, 191, 1.0);
  padding: 0;
  resize: none;
  border: 0px;
  border-radius: 0 0 5px 5px;
}

div.editor:hover .slick-next,
div.editor:hover .slick-prev,
div.editor:hover .slick-dots {
  display: block;
}

textarea.editor:focus .slick-next,
textarea.editor:focus .slick-prev,
textarea.editor:focus .slick-dots {
  display: block;
}
