div.editor {
  height: calc(100% - (29px + 2px));
  width: 100%;
  box-sizing: border-box;
  background-color: white;
  color: black;
  resize: none;
  border-radius: 0 0 5px 5px;
}

.colorBtn, .eraser {
    display: none;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: 0px;
    top: 5px;
    position: relative;
    cursor: pointer;
}

div.editor:hover .eraser {
    height: 10px;
    width: 10px;
    display: inline-block;
    border-radius: 50%;
    border: 0px;
    top: 5px;
    position: relative;
    cursor: pointer;
    float: left;
}

div.editor:hover .colorBtn {
    height: 10px;
    width: 10px;
    display: inline-block;
    border-radius: 50%;
    border: 0px;
    top: 5px;
    position: relative;
    cursor: pointer;
    float: right;
}

div.sketchEditor {
    height: 250px;
    width: 200px;
    border-radius: 0 0 5px 5px;
}

.ace_editor {
    border: 1px solid lightgray;
    margin: auto;
    left: 0px;
    height: 250px;
    width: 197px;
    overflow: hidden;
}
