textarea.editor {
  height: calc(100% - (29px + 2px));
  width: 100%;
  background-color: rgba(40, 44, 52, 1.0);
  color: rgba(171, 178, 191, 1.0);
  padding: 0;
  resize: none;
  border: 0px;
  border-radius: 0 0 5px 5px;
}

textarea.stackedEditor {
    cursor: move;
}
