textarea.editor {
  height: calc(100% - (29px + 2px));
  width: 100%;
  background-color: rgba(40, 44, 52, 1.0);
  color: rgba(171, 178, 191, 1.0);
  padding: 0;
  resize: none;
  cursor: text;
  border: 0px;
  border-radius: 0 0 5px 5px;
}

textarea.stackedEditor {
    cursor: move;
}

div.editor {
  height: calc(100% - (29px + 2px));
  width: 100%;
  background-color: rgba(40, 44, 52, 1.0);
  color: rgba(171, 178, 191, 1.0);
  padding: 0;
  resize: none;
  border: 0px;
  border-radius: 0 0 5px 5px;
}

div.editor:hover .slick-next,
div.editor:hover .slick-prev,
div.editor:hover .slick-dots {
  display: block;
}

textarea.editor:focus .slick-next,
textarea.editor:focus .slick-prev,
textarea.editor:focus .slick-dots {
  display: block;
}
