div.stack {
  height: calc((280px * 1.25) + 100px);
  width: calc((200px * 1.25) + 28px);
  background-color: rgba(102, 204, 117, 0.75);
  color: rgba(33, 37, 43, 1.0);
  position: fixed;
  cursor: move;
  border: 0.5px solid rgba(24, 26, 31, 1.0);
  border-radius: 5px;
}

div.stack button.stack_close {
  background: url("../assets/close_light.svg") no-repeat top left;
  background-size: contain;
  height: 18px;
  width: 18px;
  border: none;
  margin: 4px;
  border-radius: 100%;
}

div.stack button.stack_close:hover,
div.stack button.stack_close:active {
  background-image: url("../assets/close_active.svg");
  cursor: pointer;
}

textarea.annotation {
  position: absolute;
  width: calc(100% - 35px);
  background: transparent;
  border: none;
  bottom: 0;
  left: 0;
  border-radius: 5px;
  overflow: hidden;
  resize: none;
  font-family: sans-serif;
}

::-webkit-input-placeholder {
    color: black;
}

textarea.annotation:focus {
    outline-color: black;
    background-color: white;
    font-family: sans-serif
}

div.stack button.expand_button {
  background: url("../assets/stack_expand_light.svg");
  background-size: contain;
  height: 20px;
  width: 20px;
  border: none;
  margin: 4px;
  top: calc(100% - 30px);
  left: calc(100% - 30px);
  position: absolute;
  border-radius: 100%;
}

div.stack button.expand_button:hover,
div.stack button.expand_button:active {
  background-image: url("../assets/stack_expand_active.svg");
  cursor: pointer;
}
