/* temporary fix to suppress Chromium error, issue is being tracked via
    the following issue: https://github.com/electron/electron/issues/4420 */
::selection {
  background:transparent;
}

body {padding:10px}

#info-box {
  width:200px;
  height:200px;
  background-color:#385f88;
}

.draggable-element {
  width:100px;
  height:100px;
  background-color:#666;
  color:white;
  padding:10px 12px;
  cursor:move;
  position:relative; /* important (all position that's not `static`) */
}
